#custommenu {
    position:relative;
    font-size: 14px;
    margin: 1px 0px 0px 0px;
    padding: 0 16px;
    z-index: 999;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: 700;
}

/*COLOR*/
div.menu a:link, div.menu a:visited,
div.menu a:hover, div.menu.active a  {
    color: #FFFFFF;
}


div.menu {
    float: left;
}
div.menu.act {
    background-color:#46b08d;
    height: 19px;
}
div.menu.active {
    background-color:#ff8433;
    height: 19px;
}
div.wp-custom-menu-popup {
    position:absolute;
    z-index:3000;
    border-top:3px solid #ff8433;
    border-bottom: 1px solid #ff8433;
    border-left: 1px solid #ff8433;
    border-right: 1px solid #ff8433;
    display: none;
    background-color:#fff;
    text-align:left;
    width: 968px;
}
div.menu, div.wp-custom-menu-popup {
    padding: 8px 16px 6px 8px;
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
}
div.wp-custom-menu-popup a.actParent {
    color: #4D4D4D;
}
div.wp-custom-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:180px; /* column width */
    padding:5px;
}
div.itemSubMenu {
    margin-left:1px;
}
.clearBoth {
    clear:both;
}
#custommenu.rtl .menu {
    float: right;
}
#custommenu.rtl div.column {
    text-align: right;
}


/* MINHAS CONFIGURAÇÕES */

.itemMenuName.level1 {

    font-family: Tahoma;
    font-size: 12px;
    text-transform:initial;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #46b08d;
    font-weight: 700;

}

.itemMenuName.level2{

    margin-bottom: 3px;
    text-transform: none;
    font-weight: 500;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.itemMenuName.level2:hover {
    background: #e3ebfb;
}